<div class="footer">
<div>
    <div class="table">
       <b class="bold">AbeBooks</b>
       <p>Books, art<br>& collectibles</p>
       
    </div>
    <div class="table" style="width: 6cm;">
        <b class="bold">Amazon Web Services</b>
       <p>Scalable Cloud<br>Computing Services</p>
    </div>
    <div class="table">
        <b class="bold">Audible</b>
       <p>Download<br>Audio Books
    </div>
    <div class="table" style="width: 8cm;">
        <b class="bold">DPReview</b>
       <p>Digital<br>Photography</p>
    </div>
    <div class="table">
        <b class="bold">IMDb</b>
       <p>Movies, TV<br>& Celebrities</p>
    </div>
</div>  
<div>
    <div class="table">
        <b class="bold">Shopbop</b>
       <p>Designer<br>Fashion Brands</p>
    </div>
    <div class="table" style="width: 6cm;">
        <b class="bold">Amazon Business</b>
       <p>Everything for<br>Your Business</p>
    </div>
    <div class="table">
        <b class="bold">Prime Now</b>
       <p>2-Hour Delivery<br>on Everyday Items</p>
    </div>
    <div class="table" style="width: 8cm;">
        <b class="bold">Amazon Prime Music</b>
       <p>90 million songs, ad-free<br>Over 15 million podcast episodes</p>
    </div>
    <div class="table">
        &nbsp;
    </div>
</div> 
<p></p>
<div class="bold">
    <span>Conditions of Use & Sale  &nbsp;</span><span>Privacy Notice  &nbsp;</span><span>Interest-Based Ads</span>
    <br><span>1996-2023, Amazon.com, Inc. or its affiliates</span>
</div>


</div>