<div class="body">
    <div class="category-block">
        <h1>Up to 60% off | Styles for women</h1>
        <p>dsfib</p>sdfygbawn
        rgyh
    </div>
    <div class="category-block">
        <h1>Up to 60% off | Styles for women</h1>
        dthdrth
        fyjh
        ryuj<br>

        <br>
        wru
    </div>
    <div class="category-block">
        <h1>Up to 60% off | Styles for women</h1>
    </div>
    <div class="category-block-last">
        <h1>Up to 60% off | Styles for women</h1>
    </div>
</div>