<mat-toolbar class="header">
  <div class="header__container-left__items">
  <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" class="header__menu">
    <mat-icon (click)="sidenav.toggle();">menu</mat-icon><span class="">All</span>
  </button>
  </div>
  <div class="header__container-left">
    <div *ngFor="let item of list1" class="header__container-left__items">
      <div class="header__container-left__items__item">
        {{item}}
      </div>
    </div>
  </div>
  <div class="header__container-right">
    <div class="header__container-right__image header__container-left__items">
      <img src="https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/SingleTitle/Drishyam2/400x39-SWM_NP._CB617550659_.jpg">
    </div>
  </div>
  </mat-toolbar>
  <mat-sidenav-container>
    
    <mat-sidenav #sidenav style="width: 9cm;">
      <mat-toolbar class="header" style="height: 70px;">
        <img height="40px" width="40px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNStYe1LPjbp6FEUZI4BWewc8M56OBYf2Wyg&usqp=CAU">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>Hello, <b>Aman</b></h2></mat-toolbar>
      <table>
        <th style="text-align: left;">
          <h1><b>Trending</b></h1>
      </th>
      <tr>
        <td><h3>Best Sellers</h3></td>
      </tr>
      <tr>
        <td><h3>New Releases</h3></td>
      </tr>
      <tr>
        <td><h3>Movers and shakers</h3></td>
      </tr>
    </table>
    <hr>
    <table>
      <th style="text-align: left;">
        <h1><b>Digital Content And Devices</b></h1>
    </th>
    <tr>
      <td><h3>Echo & Alexa</h3></td>
    </tr>
    <tr>
      <td><h3>Fire TV</h3></td>
    </tr>
    <tr>
      <td><h3>Kindle E-Readers & e-Books</h3></td>
    </tr>
    <tr>
      <td><h3>Amazon Prime Videos</h3></td>
    </tr>
  </table><hr>
  <table>
    <th style="text-align: left;">
      <h1><b>By Category</b></h1>
  </th>
  <tr>
    <td><h3>Mobiles Computers</h3></td>
  </tr>
  <tr>
    <td><h3>TV Appliances Electronics</h3></td>
  </tr>
  <tr>
    <td><h3>Men's Fashion</h3></td>
  </tr>
</table>

    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">icg</div>
    </mat-sidenav-content>
  </mat-sidenav-container>


